<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v6.js"></script>
<!--<script src="{{url_for('static', filename='js/index.js')}}"></script>-->
<!--<script src="/static/js/index.js"></script>-->
<html lang='en'>
    <head>
        <titLe>Data Visualization</titLe>
    </head>
    <body>
        <div id="my_dataviz">
        </div>
    <h3>ram data</h3>
        <script>
            class PieGraph {
                constructor(obj1, obj2, width = 450, height = 450, margin = 40) {
                    this.width = width;
                    this.height = height;
                    this.margin = margin;
                    this.radius = Math.min(this.width, this.height) / 2 - this.margin;
                    this.svg = d3.select("#my_dataviz")
                        .append("svg")
                        .attr("width", this.width)
                        .attr("height", this.height)
                        .append("g")
                        .attr("transform", `translate(${this.width / 2},${this.height / 2})`);
                    this.data = {a: obj1, b: obj2};
                    this.color = d3.scaleOrdinal()
                        .range(["#ffffff", "#3b75cb"]);
                    this.pie = d3.pie()
                        .value(d => d[1]);
                    this.data_ready = this.pie(Object.entries(this.data));
                }
                draw() {
                    this.svg
                        .selectAll('whatever')
                        .data(this.data_ready)
                        .join('path')
                        .attr('d', d3.arc()
                            .innerRadius(100)
                            .outerRadius(this.radius)
                        )
                        .attr('fill', d => this.color(d.data[0]))
                        .attr("stroke", "black")
                        .style("stroke-width", "2px")
                        .style("opacity", 0.7);
                }
            }
            const js_data_str = '{{ client_data | tojson | safe }}';
            const js_data = JSON.parse(js_data_str);
            const RAMGraph = new PieGraph(js_data.RAM, js_data.RAMInUse);
            RAMGraph.draw();
            const diskGraph = new PieGraph(js_data.Disks[1].Total, js_data.Disks[1].Used);
            diskGraph.draw()
        </script>
    </body>
</html>